body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 83, 83);
}


h1 {
    font-size: 17rem;
    font-family: Xanh Mono;
}

.letter {
    transition: color 700ms;
}